.chart {
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart__title {
    color: #ffffff;
    font-size: 18px;
}